/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.container {
  height: 800;
  width: 600;
}
.rectangle {
    border-radius: 25px;
    border: 3px solid #8AC007;
    min-height: 290px;
    max-height: 290px;
    overflow-y: scroll;
}
